.schedule-month-header {
	border-bottom: 1px solid #ddd;
}
.schedule-month-header h2 {
	font-size: 18px;
}

.table-schedule td, .table-schedule th {
	border: 20px solid white;
	border-width: 10px 20px 10px 20px;
}

.table-schedule td:first-child, .table-schedule th:first-child {
	border-left: 0;
}

.table-schedule td:last-child, .table-schedule th:last-child {
	border-right: 0;
}

.table-schedule tbody {
	font-weight: 300;
}

.table-schedule a, .table-schedule a:visited {
	color: #bb0000;
	text-decoration: none;
	border-bottom: 1px dotted #ff4c2a;
}

.table-schedule a:hover {
	border-style: solid;
	border-width: 0 0 1px 0;
	transition: border-style 1s;
	color: #030000;
}
