nav {
	overflow: auto;
}

.nav {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style: none;
}

.nav li {
	display: block;
	float: left;
	padding: 5px 10px;
}

.nav a {
	text-decoration: none;
}
